# As a minimum, the owner and repo-name must be specified in the config
owner:topaztechnology
repo-name:topaz

# The use of any YT fields requires the URL and token
#youtrack-url:https://topaz.youtrack.cloud
#youtrack-token:XXXXXXX

# Ignore all PRs from these authors
ignore-author:scala-steward-topaz,github-actions

# A list of ai-authors
ai-author:coderabbitai,claude,copilot-pull-request-reviewer

# mappings from github handle to names
author-name:thomasrynnetopaz=thomas,cage433=alex,jonfox=jon,davidcorcoran=dave,Lgoldfinch=louis
author-name:boomah=nick,paulandrewthomas=paul,liamgladdentopaz=liam,dgeyer=daphne,edkennard=ed,maxthebigcoda=max

# The display name of the developer running the tool; lets '@me' be used in
# report filters (e.g. --filter A=@me) so aliases can be shared between developers
#this-author:alex


# Ignore these PRs
#ignore-pr:4836

# Ignore comments that exactly match this
ignore-comment:^/build
ignore-comment:^@coderabbitai

# Ignore comments with this label
ignore-label: build

# Ignore PRs that whose title matches this regex
ignore-title:^\[Backport

#
# aliases 
#
# PRs requiring your review
alias:to-review:report P,T,A,R,UH,UA,AG,LOC --filter RO=@me 
# your own PRs
alias:mine:report P,T,A,R,UH,UA,AG_,LOC,V_ --filter A=@me --sort=LOC:r
# all PRs in an invalid state
alias:invalid:report P,T,A,R,YS_,UA_,V_ --filter V=false --sort=A,P
# all PRs
# report on all PRs
alias:all:report P,T,A,R,YS_,UH_,UA_,V_ --sort=A,V,P

