# As a minimum, the owner and repo-name must be specified in the config
owner:topaztechnology
repo-name:topaz
#youtrack-url:https://topaz.youtrack.cloud
#youtrack-token:XXXXXXX

#timely-access-token:XXXXXXX
#timely-refresh-token:XXXXXXX
#timely-account-id:XXXXXXX



timely-ignore-project:support,leave,non-billable,cybersecurity
timely-short-names:Evangelos Fanis=Van

timely-short-projects:JERAGM Consultancy=JERA,IXM Prism interface=IXM Prism,Shell STASCO consultancy=Shell STASCO,Shell SLMT consultancy=Shell SLMT


# Ignore all PRs from these authors
ignore-author:scala-steward-topaz,github-actions

# A list of ai-authors
ai-author:coderabbitai,claude,copilot-pull-request-reviewer

# A mapping from github handle to name
author-name:thomasrynnetopaz=thomas,cage433=alex,jonfox=jon,davidcorcoran=dave,Lgoldfinch=louis,boomah=nick,paulandrewthomas=paul,liamgladdentopaz=liam,dgeyer=daphne,edkennard=ed,maxthebigcoda=max

# map PR YT tickets to Timely tickets for workday counting
timely-yt-map:JERAGMPhys-157=JERAGMPhys-112

# Ignore these PRs
#ignore-pr:4836

# Ignore comments that exactly match this
ignore-comment:^/build
ignore-label: build
ignore-comment:^@coderabbitai

ignore-title:^\[Backport
# aliases for reports
alias:all-since-mk:report --filter LCT>MK
alias:to-review:report P,T,A,R,UH,UA,AG,LOC --filter RO=alex 
alias:mine:report P,T,A,R,UH,UA,AG_,LOC,V_ --filter A=alex --sort=LOC:r
alias:invalid:report P,T,A,R,YS_,UA_,V_ --filter V=false --sort=A,P
alias:all:report P,T,A,R,YS_,UH_,UA_,V_ --sort=A,V,P
alias:work:report P,T,A,R_,WD_,AGE_ --sort=A,V,P
alias:my-work:report P,T,A,R_,WD_,AGE_ --sort=A,V,P --filter A=alex

cache-directory:~/.cache/pr-status
